// Color Palette





.login_form {
    margin-top: 2em;
    align-items: center;
}

.jumbotron {
    background-image: url("photos/out_house.jpg");
    background-size: cover;
    height: 100vh;

    .container {
        background-color: white;
        overflow: hidden;
        opacity: 0.8;
        border-radius: 4px;
    }
}